{
  "presets": ["es2015-webpack"],
  "plugins": ["lodash", "transform-runtime"],
  "env": {
    "test": {
      "plugins": [
        ["__coverage__", {"ignore": "*.+(test|spec).*"}]
      ]
    }
  }
}
